body{
    background: url("imagens/fundo.gif");
    font: normal 14pt Arial;
}
header{
    text-align: center;
    font: normal 15pt Arial;
}
section{
    width: 500px;
    background: whitesmoke;
    margin: auto;
    padding: 25px;
    box-shadow: 8px 8px 8px  midnightblue;
}
footer{
    font: normal 13pt Arial;
    text-align: center;
    margin-top: 25px;
}

p.insNome{
    margin-left: 10px;
}

input#cNome{
    margin-left: 12px;
    margin-right: 5px;
}

select{
    width: 150px;
}

p.recebeNome{
    font-size: 10pt;
}

