body{
    background: url("imagens/fundo.gif");
    font: normal 14pt Arial;
}
header{
    text-align: center;
    font: normal 15pt Arial;
}
section{
    width: 500px;
    background: whitesmoke;
    margin: auto;
    padding: 25px;
    box-shadow: 8px 8px 8px  midnightblue;
}
footer{
    font: normal 13pt Arial;
    text-align: center;
    margin-top: 25px;
}

input.txtnr{
    width: 75px;
    margin-left: 10px;
    margin-right: 15px;
}

select{
    width: 150px;
}

input.btnverificar{
    margin-top: 15px;
    margin-left: 40px;
}