body{
    background: url("imagens/fundo.gif");
    font: normal 14pt Arial;
}
header{
    text-align: center;
    font: normal 15pt Arial;
}
section{
    width: 500px;
    background: whitesmoke;
    margin: auto;
    padding: 25px;
    box-shadow: 8px 8px 8px  midnightblue;
}
footer{
    font: normal 13pt Arial;
    text-align: center;
    margin-top: 25px;
}

div.fruta{
    width: 65%;
    display: inline-block;
}

div.fruta h1{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 12pt;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    background-color: rgba(0, 0, 0, 0.068);
    margin-top: 0;
    border-radius: 15px;
}

div.fruta h1:hover{
    background-color: rgba(0, 0, 0, 0.308);
    color: whitesmoke;
    text-transform: uppercase;
}

div.morango {
    position: relative;
    width: 100px;
    height: 100px;
    background: url('./imagens/morangos.jpg');
    background-repeat: no-repeat;
    display: inline-block;
    border: 1px solid black;
    border-radius: 15px;
    margin-right: 25px;
    cursor: pointer;
}

div.maca{
    width: 100px;
    height: 100px;
    background: url('./imagens/maca.jpg');
    background-repeat: no-repeat;
    display: inline-block;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}
div.detalhes{
    width: 30%;
    display: inline-block;
}

div.detalhes select{
    width: 150px;
}