body{
    background: url("imagens/fundo.gif");
    font: normal 14pt Arial;
}
header{
    text-align: center;
    font: normal 15pt Arial;
}
section{
    width: 500px;
    background: whitesmoke;
    margin: auto;
    padding: 25px;
    box-shadow: 8px 8px 8px  midnightblue;
}
footer{
    font: normal 13pt Arial;
    text-align: center;
    margin-top: 25px;
}

div.fruta{
    width: 65%;
    display: inline-block;
}

div.fruta img{
    width: 100px;
    height: 100px;
    margin-left: 25px;
    border: 1px solid black;
}

div.img{
    width: 100px;
    height: 100px;
}

div.img h1{
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0;
}

div.detalhes{
    width: 30%;
    display: inline-block;
}

div.detalhes select{
    width: 150px;
}