body{
    background: url("imagens/fundo.gif");
    font: normal 14pt Arial;
}
header{
    text-align: center;
    font: normal 15pt Arial;
}
section{
    width: 500px;
    background: whitesmoke;
    margin: auto;
    padding: 25px;
    box-shadow: 8px 8px 8px  midnightblue;
}
footer{
    font: normal 13pt Arial;
    text-align: center;
    margin-top: 25px;
}

div.dados{
    width: 47%;
    display: inline-block;
    margin-top: 0px;
    box-sizing: border-box;
    padding-top: 25px;
}

div.dados input.btnInverter{
    margin-top: 35px;
    margin-left: 45px;
}

div.recebidos{
    width: 47%;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 10px;
}

div.recebidos select{
    width: 150px;
}