body{
    background: url("imagens/fundo.gif");
    font: normal 14pt Arial;
}
header{
    text-align: center;
    font: normal 15pt Arial;
}
section{
    width: 500px;
    background: whitesmoke;
    margin: auto;
    padding: 25px;
    box-shadow: 8px 8px 8px  midnightblue;
}
footer{
    font: normal 13pt Arial;
    text-align: center;
    margin-top: 25px;
}

input.txtnr{
    width: 80px;
    margin-left: 3px;
}

input.btnins{
    width: 80px;
    padding: 5px;
    margin-left: 20px;
    border: 1px solid lightslategray;
    background-color: rgb(110, 112, 114);
    color: whitesmoke;
}

select#selectnum{
    width: 150px;
}