body{
    background: url("imagens/fundo.gif");
    font: normal 14pt Arial;
}
header{
    text-align: center;
    font: normal 15pt Arial;
}
section{
    width: 500px;
    background: whitesmoke;
    margin: auto;
    padding: 25px;
    box-shadow: 8px 8px 8px  midnightblue;
}
footer{
    font: normal 13pt Arial;
    text-align: center;
    margin-top: 25px;
}

div.RecebDados{
    display: inline-block;
}

input.inpAnoNasc{
    width: 80px;
}

div.DivSelect{
    display: inline-block;
}

div.DivSelect select{
    width: 180px;
    margin-top: 30px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 15px;
}