body{
    background: url("imagens/fundo.gif");
    font: normal 14pt Arial;
}
header{
    text-align: center;
    font: normal 15pt Arial;
}
section{
    width: 500px;
    background: whitesmoke;
    margin: auto;
    padding: 25px;
    box-shadow: 8px 8px 8px  midnightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    font: normal 13pt Arial;
    text-align: center;
    margin-top: 25px;
}

div#cx1{
    color: whitesmoke;
    background: darkgrey;
    width: 120px;
    height: 120px;
}

