body{
    background: url("imagens/fundo.gif");
    font: normal 14pt Arial;
}
header{
    text-align: center;
    font: normal 15pt Arial;
}
section{
    width: 500px;
    background: whitesmoke;
    margin: auto;
    padding: 25px;
    box-shadow: 8px 8px 8px  midnightblue;
}
footer{
    font: normal 13pt Arial;
    text-align: center;
    margin-top: 25px;
}

fieldset.numero{
    width: 180px;
}

input#CxNum{
    width: 70px;
    margin-right: 15px;
    display: inline-block;
    margin-top: 35px;
    text-indent: 10px;
}

.btnAdic{
    margin-top: 30px;
    margin-right: 15px;
    display: inline-block;
}

fieldset{
    width: 180px;
    display: inline-block;
    margin-left: 25px;
    text-align: center;    
}

select{
    width: 145px;
}

.btnVerificar{
    margin-top: 15px;
}

.foco{
    color: rgb(155, 69, 13);
}

h4{
    text-indent: 25px;
}